<!--COMP 229-005 Assignment 2-->
<!--Author: Camila Nieto-->
<!--ID: 301175110-->
<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>